<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatisconfig.typeone.dao.UserDAO">
<!--xml未使用-->
    <insert id="insert" parameterType="mybatisconfig.model.UserPO">
        insert into user(username,password) values (#{username},#{password})
    </insert>

</mapper>
